.call {
  position: relative; /* To make it a "positioned" container so children layout works */
  height: calc(100% - 80px); /* Space for the tray */
  background-color: rgb(216, 225, 233);
  
}

.large-tiles {
  /* height: calc(100% - 132.5px);
  width: 80%; */
  height:calc(100% - 2px);
  width:calc(100% - 2px); 
  /* aspect-ratio: 16/9; */
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: grid;
  align-items: center;
  overflow-y: hidden;
  gap:3px 1px;
  padding:1px;
}



.large-tiles > .tile > video {
  border-radius: 20px;
}


/* 3- or 4-person call */
.large-tiles.count-3, .large-tiles.count-4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.large-tiles.count-4 > .tile.large:nth-child(1), .large-tiles.count-3 > .tile.large:nth-child(1){
  order:3;
}
.large-tiles.count-4 > .tile.large:nth-child(2), .large-tiles.count-3 > .tile.large:nth-child(2){
  order:1;
}
.large-tiles.count-4 > .tile.large:nth-child(3), .large-tiles.count-3 > .tile.large:nth-child(3){
  order:2;
}
.large-tiles.count-4 > .tile.large:nth-child(4){
  order:4;
}



/* 5- or 6-person call */
.large-tiles.count-5, .large-tiles.count-6 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.large-tiles.count-5 > .tile.large:nth-child(1), .large-tiles.count-6 > .tile.large:nth-child(1){
  order:4;
}
.large-tiles.count-5 > .tile.large:nth-child(2), .large-tiles.count-6 > .tile.large:nth-child(2){
  order:1;
}
.large-tiles.count-5 > .tile.large:nth-child(3), .large-tiles.count-6 > .tile.large:nth-child(3){
  order:2;
}
.large-tiles.count-5 > .tile.large:nth-child(4), .large-tiles.count-6 > .tile.large:nth-child(4){
  order:3;
}
.large-tiles.count-5 > .tile.large:nth-child(5), .large-tiles.count-6 > .tile.large:nth-child(5){
  order:5;
}

.large-tiles.count-6 > .tile.large:nth-child(6){
  order:6;
}

/* 7- or 8 or 9-person call */
.large-tiles.count-7, .large-tiles.count-8,.large-tiles.count-9 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.large-tiles.count-7 > .tile.large:nth-child(1), .large-tiles.count-8 > .tile.large:nth-child(1), .large-tiles.count-9 > .tile.large:nth-child(1){
  order:7;
}
.large-tiles.count-7 > .tile.large:nth-child(2), .large-tiles.count-8 > .tile.large:nth-child(2),  .large-tiles.count-9 > .tile.large:nth-child(2){
  order:1;
}
.large-tiles.count-7 > .tile.large:nth-child(3), .large-tiles.count-8 > .tile.large:nth-child(3),  .large-tiles.count-9 > .tile.large:nth-child(3){
  order:2;
}
.large-tiles.count-7 > .tile.large:nth-child(4), .large-tiles.count-8 > .tile.large:nth-child(4),  .large-tiles.count-9 > .tile.large:nth-child(4){
  order:3;
}
.large-tiles.count-7 > .tile.large:nth-child(5), .large-tiles.count-8 > .tile.large:nth-child(5),  .large-tiles.count-9 > .tile.large:nth-child(5){
  order:4;
}
.large-tiles.count-7 > .tile.large:nth-child(6), .large-tiles.count-8 > .tile.large:nth-child(6),  .large-tiles.count-9 > .tile.large:nth-child(6){
  order:5;
}
.large-tiles.count-7 > .tile.large:nth-child(7), .large-tiles.count-8 > .tile.large:nth-child(7), .large-tiles.count-9 > .tile.large:nth-child(7){
  order:6;
}
.large-tiles.count-8 > .tile.large:nth-child(8), .large-tiles.count-9 > .tile.large:nth-child(8){
  order:8;
}
.large-tiles.count-9 > .tile.large:nth-child(9), .large-tiles.count-9 > .tile.large:nth-child(9){
  order:9;
}

/* 10- or 11- or 12-person call */
.large-tiles.count-10, .large-tiles.count-11,.large-tiles.count-12 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.large-tiles.count-10 > .tile.large:nth-child(1), .large-tiles.count-11 > .tile.large:nth-child(1), .large-tiles.count-12 > .tile.large:nth-child(1){
  order:9;
}
.large-tiles.count-10 > .tile.large:nth-child(2), .large-tiles.count-11 > .tile.large:nth-child(2),  .large-tiles.count-12 > .tile.large:nth-child(2){
  order:1;
}
.large-tiles.count-10 > .tile.large:nth-child(3), .large-tiles.count-11 > .tile.large:nth-child(3),  .large-tiles.count-12 > .tile.large:nth-child(3){
  order:2;
}
.large-tiles.count-10 > .tile.large:nth-child(4), .large-tiles.count-11 > .tile.large:nth-child(4),  .large-tiles.count-12 > .tile.large:nth-child(4){
  order:3;
}
.large-tiles.count-10 > .tile.large:nth-child(5), .large-tiles.count-11 > .tile.large:nth-child(5),  .large-tiles.count-12 > .tile.large:nth-child(5){
  order:4;
}
.large-tiles.count-10 > .tile.large:nth-child(6), .large-tiles.count-11 > .tile.large:nth-child(6),  .large-tiles.count-12 > .tile.large:nth-child(6){
  order:5;
}
.large-tiles.count-10 > .tile.large:nth-child(7), .large-tiles.count-11 > .tile.large:nth-child(7), .large-tiles.count-12 > .tile.large:nth-child(7){
  order:6;
}
.large-tiles.count-10 > .tile.large:nth-child(8), .large-tiles.count-11 > .tile.large:nth-child(8), .large-tiles.count-12 > .tile.large:nth-child(8){
  order:7;
}
.large-tiles.count-10 > .tile.large:nth-child(9), .large-tiles.count-11 > .tile.large:nth-child(9), .large-tiles.count-12 > .tile.large:nth-child(9){
  order:8;
}
.large-tiles.count-10 > .tile.large:nth-child(10), .large-tiles.count-11 > .tile.large:nth-child(10), .large-tiles.count-12 > .tile.large:nth-child(10){
  order:10;
}
.large-tiles.count-11 > .tile.large:nth-child(11), .large-tiles.count-12 > .tile.large:nth-child(11){
  order:11;
}
.large-tiles.count-12 > .tile.large:nth-child(12){
  order:12;
}

/* .large-tiles.count-5, .large-tiles.count-6 > .tile .background {
  padding-top: 49.5%; 
} */



 


.small-tiles {
  height: 132.5px; /* Video height + 10px padding either side */
  display: flex;
  align-items: center;
  position:absolute;
  bottom:10px;
}
