.tile.small {
  width: 200px;
  margin: 0 10px;
  position: relative;
}

.tile.large {
  position: relative;
  margin: 2px;
  height:100%;
}

.tile.large video {
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile.small video {
  width: 100%;
  position: relative;
  top: 0px;
}

.tile .background {
  background-color: #000000;
  /* padding-top: 56.25%;  */
  height:100%;
  width:100%;
  border-radius: 20px;
}

.tile.large .background {
}

.tile.local video {
  transform: scale(-1, 1);
  
}

.tile.small video {
  border-radius: 8px;
}

.tile.small .background {
  border-radius: 8px;
}

.tile .overlay {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 17px;
}

.tile .corner {
  position: absolute;
  color: #ffffff;
  background-color: #000000;
  padding: 8px;
  margin: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 19px;
}

.tile.large .corner {
  border-bottom-left-radius: 20px;
}

.tile.small .corner {
  padding: 5px;
  border-bottom-left-radius: 7px;
  margin-bottom:3px;
  font-size: 12px;
  line-height: 13px;
}