.tray {
  flex: none;
  height: 80px;
  background-color: #f2f2f2;
  padding: 0 10px;
  display: flex;
  align-items: center;
}


/* selector button */
.caret {
  height:18px;
  width:16px;
text-align: center;
font-size:20px;
cursor:pointer;
font-size:20px;
cursor:pointer;
font-weight: bold;
/* disable selecting it by mistake */
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.caret:hover {
background-color: rgb(227, 227, 227);

}


